.card {
  width: 300px;
  margin: auto;
}

.card-header {
  width: 300px;
}

.card-figure {
  width: 300px;
}

.card-body {
  background-color: #9ac99e;
  border-radius: 20px;
  height: 60px;
  text-align: center;
}

.card-footer {
  text-align: center;
  background-color: red;
}

.form {
  width: 300px;
  margin: auto;
  padding: 10px;
}

.form-header {
  background-color: #9dd468;
  text-align: center;
}

.form-body {
  background-color: #adebbc;
  text-align: center;
}

.form-footer {
  text-align: center;
}
