// CARD SCSS
//===========================================

//Card Variables
//==========================
$card-width: 300px;
$card-height: 200px;
$card-border: 20px;

// Card Fixed
//==========================

%card-fixed {
  width: $card-width;
  margin: auto;
}
//Card Header Fixed
%card-header-fixed {
  width: $card-width;
}
// Card Header Figure Fixed
%card-header-figure-fixed {
  width: $card-width;
}

//Card Body Fixed
%card-body-fixed {
  background-color: #9ac99e;
  border-radius: $card-border;
  height: 60px;
  text-align: center;
}

//Card Footer Fixed
%card-footer-fixed {
  text-align: center;
  background-color: red;
}

//Card Controller
//================================

.card {
  @extend %card-fixed;

  &-header {
    @extend %card-header-fixed;
  }

  &-figure {
    @extend %card-header-figure-fixed;
  }

  &-body {
    @extend %card-body-fixed;
  }

  &-footer {
    @extend %card-footer-fixed;
  }
}
