// ==========================================================================
// HEADING SCSS
// v1.0
// ==========================================================================
// Heading variables
// ==========================================================================

// Heading fixed
// ==========================================================================
%heading-h1 {
  color: #333333;
  font-family: inherit;
  font-size: 62px;
  font-weight: 900;
  line-height: 62px;
}

// Heading controller
// ==========================================================================
.heading {
  &-h {
    &1 {
      @extend %heading-h1;
    }
  }
}
