// ==========================================================================
// SLIDER SCSS
// v1.0
// ==========================================================================
// Variables
// ==========================================================================
.index-slider {

  min-height: 100%;
  width: 100%;

  .carousel {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background-color: #f1f1f1;
    overflow: hidden;
    height: 500px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06),0 1px 3px 0 rgba(0, 0, 0, 0.05);

    &-item {
      height: 100%;


      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}