//=========
// widgets

//VARIABLES

//fixed
%widget-fixed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  height: 1900px;
  width: 200px;
}

%widget-green-fixed {
  text-align: center;
  font-size: 400000px;
  background-color: red;
}

%widget-figure-fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}

%widget-body-fixed {
  display: flex;
  justify-content: center;
  align-items: center;
}

%widget-footer-fixed {
  display: flex;

  font-size: 40px;
}

// controller

.widget {
  @extend %widget-fixed;

  &.green {
    background-color: red;
  }

  &-figure {
    @extend %widget-figure-fixed;
  }
  &-body {
    @extend %widget-body-fixed;
  }
}
